@import url(./global.css);

body {
    background-color: #000;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}

.nav-header ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
}

.nav-header ul li a {
    text-decoration: none;
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(font-size-text1);
}

.nav-header ul li .active {
    color: var(--color-white);
}

.container-btn-header {
    display: flex;
    gap: 16px;
}

.btn-login {
    padding: 8px 24px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-alexandria);
}

.btn-primary {
    padding: 8px 24px;
    border-radius: 40px;
    background-color: var(--color-green);
    color: var(--color-gray4);
    text-decoration: none;
    font-family: var(--font-family-alexandria);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 60px 0px;
}

.content-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.content-main span {
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    border: 1px solid var(--color-gray1);
    align-items: center;
    padding: 10px 12px;
    align-self: self-start;
    border-radius: 24px;
}

h1 {
    color: var(--color-white);
    font-size: var(--font-size-title1);
    width: 521px;
    font-family: var(--font-family-alexandria);
}

.content-main p {
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-Subtitle);
    width: 583px;
}

.container-btn-main {
    display: flex;
    gap: 30px;
}

.btn-green {
    background-color: var(--color-green);
    padding: 14px 24px;
    border-radius: 40px;
    color: #000;
    text-decoration: none;
    font-family: var(--font-family-alexandria);
}

.btn-secondary {
    display: flex;
    gap: 6px;
    padding: 14px 24px;
    border: 1px solid var(--color-gray2);
    border-radius: 40px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-alexandria);
}

.section-partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: var(--color-gray4);
    padding: 40px 0px;
}

.section-partners h2 {
    color: var(--color-gray1);
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
}

.container-images-partners {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.section-breakdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 0;
}

.content-breakdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content-breakdown span {
    border-radius: 24px;
    border: 1px solid var(--color-gray3);
    color: var(--color-green);
    font-family: var(--font-size-alexandria);
    font-size: var(--font-size-text2);
    padding: 12px 20px;
}

.content-breakdown h2 {
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title2);
    color: var(--color-white);
}

.content-breakdown p {
    width: 572px;
    text-align: center;
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
}

.container-cards-breakdown {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card-breakdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding: 48px 36px;
    background-color: #ffffff04;
    border: 1px solid var(--color-gray3);
    border-radius: 12px;
}

.card-breakdown div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.card-breakdown div h3 {
    color: var(--color-white);
    font-size: var(--font-size-Subtitle);
    font-family: var(--font-family-inter);
    font-weight: 400;

}

.card-breakdown div p {
    color: var(--color-gray1);
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
    width: 338px;
}

.section-statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    background-color: var(--color-gray4);
    padding: 60px 0;
}

.content-statistics {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.content-statistics span {
    display: flex;
    border-radius: 24px;
    border: 1px solid var(--color-gray3);
    color: var(--color-green);
    font-family: var(--font-size-alexandria);
    font-size: var(--font-size-text2);
    padding: 12px 20px;
}

.content-statistics h3 {
    color: var(--color-white);
    font-size: var(--font-size-title2);
    font-family: var(--font-family-alexandria);
    font-weight: 400;
}

.content-statistics p {
    text-align: center;
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-Button);
    width: 664px;
    line-height: 140%;
}

.container-number-statistics {
    display: flex;
    justify-content: center;
    gap: 72px;
}

.number-statistics {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

}
.number-statistics h3{
    color: var(--color-green);
    font-size: var(--font-size-title2);
    font-family: var(--font-family-alexandria);
}
.number-statistics p{
    color: var(--color-gray1);
    font-size: var(--font-size-Subtitle);
    font-family: var(--font-family-inter);
}