@import url(./global.css);

body {
    background-color: #000;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}

.nav-header ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
}

.nav-header ul li a {
    text-decoration: none;
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(font-size-text1);
}

.nav-header ul li .active {
    color: var(--color-white);
}

.container-btn-header {
    display: flex;
    gap: 16px;
}

.btn-login {
    padding: 8px 24px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-alexandria);
}

.btn-primary {
    padding: 8px 24px;
    border-radius: 40px;
    background-color: var(--color-green);
    color: var(--color-gray4);
    text-decoration: none;
font-family: var(--font-family-alexandria);
}
